@use "../utils/abstracts" as *;

.fancybox {
	&__backdrop {
		background: rgba(0, 0, 0, 0.8);
	}
	&__caption {
        text-align: right;
		font-weight: $fw-550;
		display: flex;
		flex-direction: column;
		& .counter {
			font-weight: normal;
			opacity: 0.5;
		}
	}
}
