@use "../utils/abstracts" as *;

.footer {
	padding-top: rem(96);
	background-color: $c-F3F2EE;
	&__container {
		display: grid;
		grid-template-columns: repeat(3, auto);
		column-gap: rem(128);
		row-gap: rem(32);
		@include content-width();
	}
    &__imagebox {
        height: fit-content;
    }
	&__image-wrapper {
		max-width: rem(315);
		min-width: rem(205);
	}
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2.5rem;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		&-item {
			&:first-child {
				font-size: rem(14);
				text-transform: uppercase;
				opacity: 0.5;
			}
			&:not(:first-child) {
				font-size: rem(18);
				@include hover-underline($c-1B2F4D);
			}
			&--none-interactive {
				pointer-events: none;
			}
		}
		&--nav {
			grid-row: span 2;
		}
	}
	&__button-top {
		position: relative;
        z-index: 1;
		width: fit-content;
		height: fit-content;
		aspect-ratio: 1/1;
		padding: 0.75rem;
		border: rem(1.5) solid $c-1B2F4D;
		border-radius: 50%;
		transition: $duration;
		@include flex-center();
		&--icon {
            font-size: rem(20);
			rotate: -90deg;
		}
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			aspect-ratio: 1/1;
			pointer-events: none;
			position: absolute;
            z-index: -1;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			border-radius: 50%;
			transition: $duration;
		}
		&:hover {
			background-color: $c-47A640;
			color: $c-FFFFFF;
			border-color: $c-FFFFFF;
			&::before {
				animation: calc($duration * 2) scale linear;
			}
		}
        &:focus {
            outline: none;
            background-color: $c-1B2F4D;
            color: $c-F3F2EE;
            &::before {
                display: none;
            }
        }
		@keyframes scale {
			0% {
				scale: 1;
				background: radial-gradient(rgba($c-47A640, 0) 0%, rgba($c-47A640, 0) 50%, rgba($c-47A640, 0.6) 50%, rgba($c-47A640, 0.6) 100%);
			}
			50% {
				scale: 1.8;
				opacity: 0;
			}
			100% {
                scale: 2.1;
			}
		}
	}
	&__info {
		grid-column: span 3;
		display: flex;
		flex-wrap: wrap;
		column-gap: rem(165);
		row-gap: rem(32);
		padding: rem(32) 0;
		border-top: rem(1) solid rgba($c-D9D9D9, 0.5);
		&-item {
            font-size: rem(14);
			opacity: 0.5;
			@include hover-underline(rgba($c-1B2F4D, 0.5));
			&--none-interactive {
				pointer-events: none;
			}
		}
	}
	&__label {
		grid-column: span 3;
		padding: rem(12) 0;
		background-color: $c-000000;
		&-container {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			@include content-width();
		}
		&-studio {
			width: fit-content;
			display: flex;
			align-items: center;
			gap: 1rem;
			&-item {
				&--text {
					font-size: rem(12);
					line-height: 100%;
					font-weight: $fw-550;
					color: rgba($c-D9D9D9, 0.5);
				}
			}
		}
	}
}
@media (max-width: 1024px) {
	.footer {
		&__button-top {
			grid-column: 3;
		}
		&__body {
			grid-row: 2;
			grid-column: span 3;
		}
	}
}
@media (max-width: 768px) {
	.footer {
		&__container {
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem;
		}
		&__image-wrapper {
			max-width: rem(205);
		}
		&__button-top {
			grid-column: 2;
			justify-self: flex-end;
		}
		&__body {
			grid-row: 2;
			grid-column: span 2;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap-reverse;
		}
		&__info {
			grid-column: span 2;
			flex-direction: column;
			gap: 1rem;
		}
	}
}