// Colors
$c-1B2F4D: #1B2F4D;
$c-11493E: #11493E;
$c-066C6B: #066C6B;
$c-457C73: #457C73;
$c-457D72: #457D72;
$c-47A640: #47A640;
$c-D9D9D9: #D9D9D9;
$c-F3F2EE: #F3F2EE;
$c-F0EEE6: #F0EEE6;
$c-FDFDFD: #FDFDFD;
$c-F8F8F6: #F8F8F6;
$c-1B2F4D: #1B2F4D;
$c-FFFFFF: #FFFFFF;
$c-000000: #000000;

$main-color: $c-F8F8F6;
$accent-color: $c-1B2F4D;

$duration: 0.7s;
$fw-550: 550;