@use "../utils/abstracts" as var;

* {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-tap-highlight-color: transparent;
}
*,
*:before,
*:after {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 16;
	box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
html,
body {
	max-width: 100vw;
	height: 100%;
	scrollbar-gutter: stable;
}
body {
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: var.$main-color;
	color: var.$accent-color;
	overflow-x: clip;
}
input,
button,
textarea {
	font-family: inherit;
	appearance: none;
	-webkit-appearance: none;
}
input::-ms-clear {
	display: none;
}
input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	appearance: none;
	-webkit-appearance: none;
	margin: 0;
}
input[type="range"] {
	outline: none;
	appearance: none;
	-webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
}
input[type="range"]::-moz-range-thumb {
	appearance: none;
	-webkit-appearance: none;
}
button {
	cursor: pointer;
	background-color: inherit;
	all: unset;
}
button::-moz-focus-inner {
	all: unset;
}
a {
	color: inherit;
}
a[href^="http"]:empty::before {
	content: attr(href);
}
a,
a:visited {
	text-decoration: none;
}
a:not(.link):hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
	pointer-events: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
picture {
	display: block;
}
dialog {
	max-width: initial;
	max-height: initial;
}
dialog::backdrop {
	all: unset;
	position: fixed;
	inset: 0;
	background: transparent;
}

.swiper-wrapper {
  -webkit-transition-timing-function:linear !important; 
  -o-transition-timing-function:linear !important;
  transition-timing-function:linear !important;
}