@use "../utils/abstracts" as *;

.preface {
	width: 100vw;
	height: 100vh;
	&__content {
		position: relative;
		height: 80%;
		display: flex;
		align-items: center;
		overflow: hidden;
		background: url("../../assets/images/backgrounds/bg-team.jpg");
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	&__titlebox {
		color: $c-FFFFFF;
		width: 50%;
		margin-left: 30%;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	&__title {
		font-size: lineScale(56, 32, 480, 1440);
	}
	&__cite {
		position: relative;
		width: 100%;
		height: 20%;
		&-container {
			position: absolute;
			bottom: 0;
			left: 30%;
			width: 40%;
			background-color: $main-color;
			padding: 2rem;
			padding-left: rem(82);
			border-radius: $border-radius;
			border-top-left-radius: 0;
			filter: drop-shadow(0 0 10px rgba($c-1B2F4D, 0.3));
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: -2rem;
				left: 0;
				width: 2rem;
				aspect-ratio: 1/1;
				background-color: inherit;
				clip-path: polygon(0 0, 0% 100%, 100% 100%);
			}
		}
		&-wrapper {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				width: 1rem;
				height: 1.2rem;
				background-color: $c-47A640;
				clip-path: polygon(0% 0%, 90% 0, 90% 75%, 25% 75%, 0 100%, 0 75%);
			}
			&::before {
				left: -1.5rem;
			}
			&::after {
				left: -2.7rem;
			}
		}
		&-text {
			font-size: lineScale(20, 16, 480, 1440);
			line-height: 140%;
			font-weight: $fw-550;
		}
		&-author {
			display: flex;
			align-items: center;
			gap: 1rem;
		}
		&-image-wrapper {
			max-width: rem(64);
			aspect-ratio: 1/1;
			border-radius: 50%;
			overflow: hidden;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&-info {
			font-size: rem(14);
		}
		&-name {
			font-weight: $fw-550;
		}
		&-post {
			color: $c-457C73;
		}
	}
}
.history {
	padding: rem(96) 0;
	&__container {
		@include content-width();
	}
	&__header {
		display: grid;
		grid-template-columns: 30% auto;
	}
	&__tag {
		@include block-tag();
	}
	&__title {
		font-size: lineScale(32, 24, 480, 1440);
		font-weight: $fw-550;
	}
	&__subtitle {
		margin-top: rem(24);
		width: 50%;
	}
	&__list {
		overflow: hidden;
	}
	&__item {
		display: grid;
		grid-template-columns: 30% auto 20%;
		padding: calc(rem(96) / 2) 0;
		&-progressbar {
			position: absolute;
			z-index: 1;
			top: -20%;
			left: -2.15rem;
			height: 0;
			width: rem(5);
			border-radius: 1rem;
			background-color: rgba($c-BBD5D4, 1);
		}
		&-icon-wrapper {
			max-width: 2rem;
			aspect-ratio: 1/1;
			overflow: hidden;
			justify-self: flex-end;
			margin-right: 4rem;
		}
		&-icon {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&-content {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: rem(24);
			margin-right: rem(64);
			&::before {
				content: "";
				position: absolute;
				height: 190%;
				width: rem(1);
				display: block;
				top: -20%;
				left: -2rem;
				background-color: rgba($c-BBD5D4, 1);
			}
		}
		&-date {
			position: relative;
			font-size: rem(20);
			font-weight: $fw-550;
			&::before {
				content: "";
				display: block;
				position: absolute;
				width: rem(5);
				aspect-ratio: 1/1;
				top: 50%;
				left: -2.15rem;
				translate: 0 -50%;
				background-color: rgba($c-457C73, 0.7);
				border-radius: 50%;
			}
		}
		&__image-wrapper {
			max-width: rem(268);
			max-height: rem(146);
			overflow: hidden;
		}
		&__image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.expertise {
	padding: rem(96) 0;
	&__container {
		@include content-width();
	}
	&__titlebox {
		width: 50%;
		display: flex;
		flex-direction: column;
		gap: rem(96);
	}
	&__title {
		@include block-title();
	}
	&__tag {
		@include block-tag();
	}
	&__body {
		margin: 0 auto;
		margin-top: 2rem;
	}
	&__slide {
		width: rem(427);
		min-height: rem(500);
		background-color: $c-FFFFFF;
		&-wrapper {
			padding: rem(32);
			padding-right: rem(96);
			display: grid;
			grid-template-rows: 10rem auto auto;
		}
		&-title {
			font-size: lineScale(28, 18, 480, 1440);
			line-height: 120%;
			margin-top: rem(64);
		}
		&-text {
			font-size: rem(14);
			opacity: 0.8;
			margin-top: rem(32);
		}
	}
}
.principles {
	padding: rem(96) 0;
	&__container {
		@include content-width();
	}
	&__tag {
		@include block-tag();
	}
	&__body {
		counter-reset: item-counter;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: rem(12);
		margin-top: rem(32);
		& :nth-child(1),
		& :nth-child(2) {
			grid-column: span 3;
		}
	}
	&__item {
		counter-increment: item-counter;
		grid-column: span 2;
		position: relative;
		min-height: rem(334);
		padding: rem(32);
		border-radius: $border-radius;
		overflow: hidden;
		background-color: $c-FFFFFF;
		& > * {
			cursor: default;
			transition: $duration;
		}
		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			background-color: $c-11493E;
			border-radius: $border-radius;
			transition: $duration;
		}
		&:hover {
			color: $c-F3F2EE;
			.principles__item-title {
				&::before {
					background: none;
					-webkit-text-fill-color: inherit;
					color: $c-FFFFFF;
					opacity: 0.5;
				}
			}
			.principles__item-text {
				opacity: 1;
			}
			&::before {
				width: 100%;
				height: 100%;
			}
		}
		&:not(:hover)::before {
			width: 0;
			height: 0;
			top: auto;
			left: auto;
			bottom: 0;
			right: 0;
		}
		&-title {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: rem(32);
			font-size: rem(20);
			font-weight: $fw-550;
			&::before {
				content: "0" counter(item-counter);
				font-size: rem(56);
				line-height: 100%;
				font-weight: normal;
				transition: $duration;
				@include gradient-text(linear-gradient(90deg, $c-47A640 0%, $c-066C6B 15%));
			}
		}
		&-text {
			position: relative;
			margin-top: rem(16);
			opacity: 0.5;
		}
	}
}

#circle {
	animation: circle-rotate 5s ease infinite;
	circle {
		will-change: transform;
		animation: circle-translate 5s ease infinite;
	}
	&1 {
		--offset-x: 0.4rem;
		--offset-y: 0.4rem;
	}
	&2 {
		--offset-x: -0.4rem;
		--offset-y: 0.4rem;
	}
	&3 {
		--offset-x: 0.4rem;
		--offset-y: -0.4rem;
	}
	&4 {
		--offset-x: -0.4rem;
		--offset-y: -0.4rem;
	}
	@keyframes circle-translate {
		0%,
		12%,
		25%,
		37%,
		50%,
		62%,
		75%,
		87%,
		100% {
			transform: translate(0, 0);
		}
		12% {
			transform: translate(0, 0);
		}
		18% {
			transform: translate(var(--offset-x), var(--offset-y));
		}
		25% {
			transform: translate(0, 0);
		}
		37% {
			transform: translate(0, 0);
		}
		43% {
			transform: translate(var(--offset-x), var(--offset-y));
		}
		50% {
			transform: translate(0, 0);
		}
		62% {
			transform: translate(0, 0);
		}
		68% {
			transform: translate(var(--offset-x), var(--offset-y));
		}
		75% {
			transform: translate(0, 0);
		}
		87% {
			transform: translate(0, 0);
		}
		93% {
			transform: translate(var(--offset-x), var(--offset-y));
		}
		100% {
			transform: translate(0, 0);
		}
	}
	@keyframes circle-rotate {
		0% {
			rotate: 0deg;
		}
		12% {
			rotate: 0deg;
		}
		25% {
			rotate: 90deg;
		}
		37% {
			rotate: 90deg;
		}
		50% {
			rotate: 180deg;
		}
		62% {
			rotate: 180deg;
		}
		75% {
			rotate: 270deg;
		}
		87% {
			rotate: 270deg;
		}
		100% {
			rotate: 360deg;
		}
	}
}
#hypnotic {
	&2,
	&3,
	&4 {
		will-change: transform;
		transform-origin: 50% 50%;
		animation: hypnotic-spin 3s linear infinite;
	}
	@keyframes hypnotic-spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(-360deg);
		}
	}
}
#spring-horizontal {
	&2 {
		--offset: 5%;
	}
	&3 {
		--offset: 10%;
	}
	&4 {
		--offset: 15%;
	}
	&2,
	&3,
	&4 {
		will-change: transform;
		animation: spring-horizontal-translate 1.2s ease-in-out infinite;
	}
	@keyframes spring-horizontal-translate {
		0% {
			transform: translate(0, 0);
		}
		50% {
			transform: translate(0, var(--offset));
		}
		100% {
			transform: translate(0, 0);
		}
	}
}
#spring-vertical {
	&1 {
		--offset-y: 4%;
		--offset-x: -8%;
	}
	&2 {
		--offset-y: 2%;
		--offset-x: -4%;
	}
	&3 {
		--offset-y: 0%;
		--offset-x: 0%;
	}
	&4 {
		--offset-y: -2%;
		--offset-x: 4%;
	}
	&1,
	&2,
	&3,
	&4 {
		will-change: transform;
		animation: spring-vertical-translate 1s ease-in-out infinite;
	}
	@keyframes spring-vertical-translate {
		0% {
			transform: translate(0, 0);
		}
		50% {
			transform: translate(var(--offset-x), var(--offset-y));
		}
		100% {
			transform: translate(0, 0);
		}
	}
}

@media (max-width: 1024px) {
	.preface {
		&__cite {
			&-container {
				width: fit-content;
				left: 0;
			}
		}
	}
	.history {
		&__item {
			grid-template-columns: 30% auto;
			&-image-wrapper {
				display: none;
			}
		}
	}
}
@media (max-width: 768px) {
	.preface {
		&__content {
			@include flex-center();
		}
		&__titlebox {
			width: fit-content;
			margin: 0 rem(32);
		}
	}
	.history {
		&__header {
			display: flex;
			flex-direction: column-reverse;
			gap: rem(32);
		}
		&__subtitle {
			width: 100%;
		}
	}
    .principles {
        &__body {
            display: flex;
            flex-direction: column;
        }
    }
}
