@use "../utils/abstracts" as *;

.article {
	padding: rem(96) 0;
	margin-top: rem(64);
	overflow-x: clip;
	&__titlebox {
		display: flex;
		flex-direction: column;
		gap: rem(24);
		@include content-width();
	}
	&__button-back {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;
		gap: 0.5rem;
		@include icon-hover(horizontal-reverse);
		&--icon {
			rotate: 180deg;
		}
	}
	&__title {
		max-width: 30ch;
		@include block-title();
	}
	&__date {
		font-size: rem(14);
		opacity: 0.5;
	}
	&__cover-wrapper {
		margin-top: rem(64);
		width: 100%;
		max-height: rem(420);
		overflow: hidden;
		@include flex-center();
	}
	&__cover {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__body {
		padding: rem(96) 0;
		&-container {
			display: grid;
			grid-template-columns: 25% auto;
			gap: rem(64);
			@include content-width();
			aside {
				position: relative;
				> nav {
					position: sticky;
					top: rem(96);
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					background-color: $c-F3F2EE;
					padding: rem(32);
					border-radius: $border-radius;
					border-top-right-radius: 0;
					&::before {
						content: "";
						position: absolute;
						top: 0;
						right: -2rem;
						background-color: inherit;
						width: 2rem;
						aspect-ratio: 1/1;
						clip-path: polygon(0 0, 0% 100%, 100% 0);
					}
					> p {
						text-transform: uppercase;
						font-size: rem(22);
						font-weight: $fw-550;
						margin-bottom: 0.5rem;
					}
					> a {
						color: $c-11493E;
						@include hover-underline($c-11493E);
					}
				}
			}
		}
	}
	&__content {
		> p {
			font-size: lineScale(20, 18, 480, 1440);
			font-weight: $fw-550;
		}
		> section {
			margin-top: rem(96);
			display: flex;
			flex-direction: column;
			gap: 2rem;
			font-size: rem(18);
			h2 {
				scroll-margin: rem(96);
				font-size: lineScale(32, 24, 480, 1440);
				line-height: 100%;
				font-weight: $fw-550;
			}
			ul,
			ol {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				> li {
					margin-left: 1rem;
				}
			}
			ul {
				li {
					list-style: disc outside;
				}
			}
			ol {
				li {
					list-style: decimal outside;
				}
			}
			ul.article__chapter-values-list {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				gap: 1rem;
				flex-wrap: wrap;
				li {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					div {
						font-size: lineScale(22, 18, 480, 1440);
						font-weight: $fw-550;
					}
					p {
						font-size: rem(14);
						opacity: 0.5;
					}
				}
			}
			picture {
				max-width: 100%;
				overflow: hidden;
				border-radius: $border-radius;
				margin-top: rem(32);
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	&__footer {
		&-container {
			height: rem(400);
			@include content-width();
		}
		&-content {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: rem(32);
			border-radius: $border-radius;
			overflow: hidden;
			color: $c-FFFFFF;
		}
		&-hint {
			opacity: 0.5;
		}
		&-titlebox {
			max-width: 90ch;
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		&-title {
			font-size: lineScale(32, 24, 480, 1440);
			line-height: 100%;
			font-weight: $fw-550;
		}
		&-text {
			font-size: rem(14);
			@include lineClamp(3);
		}
		&-info {
			display: flex;
			justify-content: space-between;
		}
		&-date {
			font-size: rem(14);
		}
		&-button {
			text-transform: uppercase;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			@include icon-hover(diagonal-reverse);
			&--icon {
				rotate: -45deg;
			}
		}
		&-image-container {
			position: absolute;
			inset: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			filter: brightness(50%);
		}
	}
}
@media (max-width: 1024px) {
	.article {
		&__body {
			&-container {
				display: flex;
				flex-direction: column;
			}
		}
	}
}
