@use "../utils/abstracts" as *;

.career-hero {
	position: relative;
	padding: rem(96) 0;
	margin-top: rem(64);
	&__titlebox {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	&__tag {
		@include block-tag();
	}
	&__title {
		margin-top: rem(24);
		@include block-title();
	}
	&__button {
		padding: rem(12) rem(24);
		margin-top: rem(48);
		@include button-hover();
		@include icon-hover(vertical);
		&:hover {
			color: $c-FFFFFF;
		}
		&--icon {
			rotate: 90deg;
		}
	}
	&__image {
		width: 100%;
		height: rem(480);
		margin-top: rem(96);
		background: url("../../assets/images/backgrounds/bg-carrer.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	&__cite {
		max-width: rem(648);
		position: absolute;
		bottom: 0;
		left: 35%;
		padding: rem(32);
		padding-left: rem(96);
		background-color: $c-FFFFFF;
		border-radius: $border-radius;
		border-top-left-radius: 0;
		@include drop-shadow();
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: -2rem;
			left: 0;
			width: 2rem;
			aspect-ratio: 1/1;
			background-color: inherit;
			clip-path: polygon(0 0, 0% 100%, 100% 100%);
		}
		&-text {
			position: relative;
			font-size: lineScale(20, 16, 480, 1440);
			line-height: 150%;
			font-weight: $fw-550;
			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				width: 1rem;
				height: 1.2rem;
				background-color: $c-47A640;
				clip-path: polygon(0% 0%, 90% 0, 90% 75%, 25% 75%, 0 100%, 0 75%);
			}
			&::before {
				left: -1.7rem;
			}
			&::after {
				left: -2.9rem;
			}
		}
	}
}
.advant {
	padding: rem(96) 0;
	&__container {
		@include content-width();
	}
	&__titlebox {
		display: flex;
		flex-direction: column;
		gap: rem(24);
	}
	&__tag {
		@include block-tag();
	}
	&__title {
		text-wrap: balance;
		@include block-title();
	}
	&__body {
		counter-reset: item-counter;
		position: relative;
		margin-top: rem(128);
		display: flex;
		flex-direction: column;
		gap: rem(96);
		&-progressbar {
			position: absolute;
			top: 0;
			left: 25%;
			height: 100%;
			width: rem(3);
			background-color: $c-D9D9D9;
			&-inner {
				width: 100%;
				height: 0%;
				background: linear-gradient(180deg, $c-47A640, $c-066C6B);
			}
		}
	}
	&__item {
		counter-increment: item-counter;
		display: grid;
		grid-template-columns: 30% auto;
		&-number {
			justify-self: flex-end;
			margin-right: rem(96);
			&::before {
				content: "0" counter(item-counter);
				font-size: rem(18);
				opacity: 0.25;
			}
		}
		&-content {
			max-width: 60ch;
		}
		&-title {
			font-size: lineScale(32, 22, 480, 1440);
			line-height: 100%;
		}
		&-text {
			opacity: 0.5;
			margin-top: rem(32);
		}
	}
}
.work {
	padding: rem(96) 0;
	&__container {
		@include content-width();
	}
	&__title {
		max-width: 25ch;
		@include block-title();
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 1rem;
		margin-top: rem(64);
	}
	&__item {
		grid-column: span 2;
		background-color: $c-FFFFFF;
		padding: rem(32);
		@include flowing-fill();
		&:nth-child(1),
		&:nth-child(2) {
			grid-column: span 3;
		}
		&:hover {
			color: $c-FFFFFF;
			.work__item-icon {
				fill: $c-FFFFFF;
			}
		}
		&-icon {
			transition: $duration;
		}
		&-title {
			font-size: rem(20);
			margin-top: rem(32);
		}
		&-text {
			opacity: 0.5;
			margin-top: rem(16);
		}
	}
	&__cite {
		margin-top: rem(128);
		@include flex-center();
		&-container {
			position: relative;
			width: 100ch;
			text-align: center;
			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: -2rem;
				left: 50%;
				width: 1rem;
				height: 1.2rem;
				translate: -50% 0;
				background-color: $c-47A640;
				clip-path: polygon(0% 0%, 90% 0, 90% 75%, 25% 75%, 0 100%, 0 75%);
			}
			&::before {
				translate: -60% 0;
			}
			&::after {
				translate: 60% 0;
			}
		}
		&-text {
			font-size: lineScale(24, 16, 480, 1440);
			line-height: 120%;
			font-weight: $fw-550;
		}
	}
}
.gallery {
	padding: rem(96) 0;
	&__container {
		display: grid;
		grid-template-columns: 25% auto;
		gap: 2rem;
		@include content-width();
	}
	&__sider {
		position: relative;
		height: 100%;
		&-wrapper {
			position: sticky;
			top: rem(96);
			height: 80vh;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	&__title {
		font-size: lineScale(32, 24, 480, 1440);
		line-height: 100%;
		font-weight: $fw-550;
		&--accent {
			@include gradient-text();
		}
	}
	&__subtitle {
		font-size: rem(14);
		margin-top: 1rem;
	}
	&__button {
		padding: rem(12) rem(24);
		margin-top: rem(48);
		@include button-hover();
		@include icon-hover();
		&:hover {
			color: $c-FFFFFF;
		}
	}
	&__hero {
		font-size: lineScale(32, 24, 480, 1440);
		line-height: 100%;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		&-link {
			width: fit-content;
			line-height: 120%;
			font-weight: $fw-550;
			border-bottom: rem(5) dotted $c-47A640;
			@include gradient-text();
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		gap: rem(16);
	}
	&__image-wrapper {
		max-width: rem(935);
		overflow: hidden;
		border-radius: $border-radius;
	}
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.faq {
    overflow-x: clip;
	padding: rem(96) 0;
	&__container {
		display: grid;
		grid-template-columns: 25% auto;
		gap: 2rem;
		@include content-width();
	}
	&__sider {
		position: relative;
		&-wrapper {
			position: sticky;
			top: rem(96);
		}
	}
	&__title {
		font-size: lineScale(32, 24, 480, 1440);
		line-height: 120%;
		font-weight: $fw-550;
	}
	&__subtitle {
		margin-top: rem(16);
		font-size: rem(14);
		&--link {
			border-bottom: rem(2) dotted $c-47A640;
			@include gradient-text();
		}
	}
	&__item {
		cursor: pointer;
		position: relative;
		padding: rem(32);
		padding-left: 0;
		transition: $duration;
		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background-color: inherit;
			transition: width $duration;
		}
		@media (pointer: fine) {
			&:not(.active):hover {
				background-color: $c-F3F2EE;
				padding-left: rem(32);
				&::before {
					width: 110%;
				}
				.faq__item-title {
					@include gradient-text();
				}
			}
		}
		&.active {
			background-color: $c-11493E;
			color: $c-FFFFFF;
			padding-left: rem(32);
			&::before {
				width: 200%;
			}
			.faq__item-content {
				max-height: 50vh;
				& > * {
					translate: 0 0;
				}
			}
			.faq__item-icon {
				transform: scaleY(-1);
			}
		}
		&-title {
			font-size: lineScale(24, 18, 480, 1440);
			font-weight: $fw-550;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
            gap: 1rem;
		}
		&-icon {
			cursor: pointer;
			font-size: rem(12);
			transition: transform $duration;
		}
		&-content {
			display: flex;
			flex-direction: column;
			gap: rem(32);
			max-height: 0;
			overflow: hidden;
			transition: $duration;
			& > * {
				translate: 0 100%;
				transition: $duration;
			}
		}
		&-text,
		&-link {
			color: $c-FFFFFF;
		}
		&-text {
			text-wrap: balance;
			font-size: rem(14);
			opacity: 0.8;
			padding-top: rem(16);
		}
		&-link {
			width: fit-content;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			@include icon-hover();
		}
	}
}
@media (max-width: 1024px) {
	.gallery {
		&__container {
			display: flex;
			flex-direction: column;
		}
		&__sider {
			&-wrapper {
				height: fit-content;
				flex-direction: row;
				gap: 2rem;
			}
		}
	}
	.faq {
		&__container {
			display: flex;
			flex-direction: column;
		}
	}
}
@media (max-width: 768px) {
	.career-hero {
		&__cite {
			left: 0;
		}
	}
	.work {
		&__list {
			display: flex;
			flex-direction: column;
		}
	}
	.gallery {
		&__sider {
			&-wrapper {
				flex-direction: column;
			}
		}
	}
}
