@use "../utils/abstracts" as *;

.intro {
	position: relative;
	//min-height: 100vh;
	overflow: hidden;
	&__container {
		@include content-width();
		@include flex-center();
		align-items: flex-end;
		width: 100%;
		min-height: 100vh;
	}
	&__slider-container {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__slider {
		width: 100%;
		height: 100%;
		&-pagination {
			width: fit-content !important;
			height: fit-content !important;
			top: 50% !important;
			translate: 0 -50%;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			& .swiper-pagination-bullet {
				width: rem(16);
				height: rem(8);
				border-radius: 0;
				border-top-right-radius: 1rem;
				border-bottom-right-radius: 1rem;
				margin: 0 !important;
				background-color: rgba($c-FFFFFF, 0.25);
				transition: $duration;
				&-active {
					width: rem(32);
					background-color: rgba($c-FFFFFF, 1);
				}
			}
		}
	}
	&__slide {
		width: 100%;
		height: 100%;
		&-container {
			@include flex-center();
			width: 100%;
			height: 100%;
		}
		&-image-container {
			position: absolute;
			inset: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&-titlebox {
			width: 60%;
			padding-left: 43%;
			color: $c-FFFFFF;
			opacity: 0.8;
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		&-title {
			font-size: rem(32);
		}
	}
	&__advant {
		width: 100%;
		height: fit-content;
		padding-left: 40%;
		margin-bottom: rem(96);
		&-slide {
			max-width: rem(240);
			display: flex;
			align-items: center;
			gap: 0.5rem;
			&-text {
				font-size: rem(14);
				color: $c-FFFFFF;
			}
		}
		&-footer {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-navigation {
			display: flex;
			align-items: center;
			gap: 2rem;
			margin-top: 2rem;
			&-button {
				position: static;
				font-size: rem(24);
				color: $c-FFFFFF;
				&::after {
					display: none;
				}
				&--prev {
					width: fit-content;
					@include icon-hover(horizontal-reverse);
					i {
						rotate: 180deg;
					}
				}
				&--next {
					width: fit-content;
					@include icon-hover(horizontal);
				}
			}
		}
		&-link {
			color: $c-47A640;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			@include icon-hover(diagonal);
			&--icon {
				rotate: 45deg;
			}
		}
	}
}
.about {
	padding: rem(96) 0;
	&__container {
		display: grid;
		grid-template-columns: 40% auto;
		row-gap: rem(96);
		@include content-width();
	}
	&__tag {
		@include block-tag();
	}
	&__title {
		@include block-title();
	}
	&__text {
		margin-top: rem(24);
	}
	&__button {
		color: $c-000000;
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: rem(12) rem(32);
		margin-top: rem(48);
		@include button-hover();
		@include icon-hover();
		&:hover {
			color: $c-FFFFFF;
		}
	}
	&__itembox {
		grid-column: span 2;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
	&__item {
		color: $c-FFFFFF;
		text-wrap: wrap;
		height: rem(250);
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: rem(24);
		&-image-container {
			position: absolute;
			z-index: -1;
			inset: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			&::before {
				content: "";
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				pointer-events: none;
				background-color: rgba($c-457D72, 0.6);
				filter: brightness(35%) saturate(400%);
				z-index: 0;
			}
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&-title {
			font-size: 2rem;
			line-height: 2rem;
		}
		&-subtitle {
			margin-top: 0.5rem;
		}
		&-button {
			padding: rem(12) rem(24);
			@include button-hover(100%, $c-F8F8F6, 0.05);
			@include icon-hover(horizontal);
		}
	}
}
.practices {
	padding: rem(96) 0;
	&__container {
		@include content-width();
	}
	&__tag {
		@include block-tag();
	}
	&__title {
		margin-top: rem(24);
		@include block-title();
	}
	&__button {
		padding: rem(12) rem(32);
		margin-top: rem(48);
		@include button-hover();
		@include icon-hover(horizontal);
		&:hover {
			color: $c-FFFFFF;
		}
	}
	&__body {
		counter-reset: item-counter;
		position: relative;
		margin-top: rem(96);
	}
	&__item {
		counter-increment: item-counter;
		position: relative;
		bottom: 0;
		padding: rem(32) rem(24);
		display: flex;
		flex-direction: column;
		border-radius: 1rem;
		border-top-left-radius: 0;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: -2rem;
			left: 0;
			width: 2rem;
			height: 2rem;
		}
		&::before {
			background-color: inherit;
		}
		&::after {
			border-bottom-left-radius: 100%;
		}
		&-content {
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
		&-title {
			position: relative;
			text-transform: uppercase;
			font-size: rem(22);
			line-height: 150%;
			font-weight: $fw-550;
			padding-left: 1.5rem;
			&::before {
				content: "";
				display: block;
				width: 1rem;
				aspect-ratio: 1/1;
				background-color: $c-47A640;
				position: absolute;
				top: 0.5rem;
				left: 0;
			}
			&::after {
				content: "0" counter(item-counter);
				position: absolute;
				top: 0;
				right: 0;
				font-size: 1rem;
				font-weight: normal;
				opacity: 0.2;
			}
		}
		&-text,
		&-list {
			font-size: rem(14);
		}
		&-list {
			&-item {
				list-style: disc inside;
			}
		}
		&-button {
			color: $c-47A640;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			@include hover-underline($c-47A640);
		}
		&:nth-child(3n + 1) {
			width: 90%;
			background-color: $c-F0EEE6;
			&::after {
				background-color: $main-color;
			}
			& h3::before {
				clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
				-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
			}
			& p {
				width: 40%;
			}
			& a {
				margin-top: rem(115);
			}
		}
		&:nth-child(3n + 2) {
			position: absolute;
			bottom: 0;
			right: 5%;
			width: 60%;
			background-color: $c-F3F2EE;
			&::after {
				background-color: $c-F0EEE6;
			}
			& h3::before {
				border-radius: 0;
			}
			& p {
				width: 50%;
			}
			& a {
				margin-top: rem(146);
			}
		}
		&:nth-child(3n + 3) {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 30%;
			background-color: $c-FDFDFD;
			&::after {
				background-color: $c-F3F2EE;
			}
			& h3::before {
				border-radius: 50%;
			}
			& a {
				margin-top: rem(36);
			}
		}
	}
}
.affairs {
	padding: rem(96) 0;
	&__container {
		@include content-width();
	}
	&__header {
		display: grid;
		grid-template-columns: 40% auto;
	}
	&__tag {
		@include block-tag();
	}
	&__titlebox {
		display: flex;
		flex-direction: column;
		gap: rem(24);
	}
	&__title {
		@include block-title();
	}
	&__subtitle {
		font-size: rem(18);
	}
	&__body {
		display: flex;
		justify-content: flex-end;
		margin-top: rem(96);
	}
	&__button {
		padding: rem(12) rem(32);
		margin-left: 40%;
		margin-top: rem(96);
		@include button-hover();
		@include icon-hover();
		&:hover {
			color: $c-FFFFFF;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	&__item {
		cursor: pointer;
		max-height: rem(96);
		width: 60%;
		position: relative;
		display: grid;
		grid-template-columns: 5% auto;
		gap: 1.5rem;
		padding: 2rem;
		border-top: rem(1) solid rgba($c-D9D9D9, 0.5);
		transition: $duration;
		&:last-child {
			border-bottom: rem(1) solid rgba($c-D9D9D9, 0.5);
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			display: block;
			width: 100%;
			height: 100%;
			background-color: inherit;
			transition: width $duration;
		}
		&:not(.active):hover {
			background-color: $c-F3F2EE;
			width: 70%;
			&::before {
				width: 110%;
			}
			& .affairs__item-title {
				@include gradient-text();
			}
		}
		&.active {
			width: 77%;
			background-color: $c-11493E;
			color: $c-FFFFFF;
			max-height: fit-content;
			grid-template-columns: 15% auto;
			gap: rem(48);
			&::before {
				width: 100vw;
			}
			& .affairs__item--icon {
				transform: scaleY(-1);
			}
			& .affairs__item-title {
				font-size: rem(24);
				color: $c-FFFFFF;
			}
			& .affairs__item-image-wrapper {
				translate: 0 0;
				width: rem(56);
			}
			& .affairs__item-name,
			& .affairs__item-post,
			& .affairs__item-desc,
			& .affairs__item-values,
			& .affairs__item-button {
				max-width: fit-content;
				max-height: fit-content;
			}
			& .affairs__item-body {
				display: flex;
				flex-direction: column;
				gap: 2rem;
			}
			& .affairs__item-divider {
				width: 100%;
			}
		}
		&--icon {
			position: absolute;
			top: 0.75rem;
			right: 0;
			font-size: rem(12);
			transition: $duration;
		}
		&-body {
			position: relative;
		}
		&-logobox {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 0.25rem;
			text-align: right;
		}
		&-image-wrapper {
			width: rem(48);
			translate: 0 -20%;
			aspect-ratio: 1/1;
			border-radius: 50%;
			overflow: hidden;
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&-name {
			font-size: rem(14);
			font-weight: $fw-550;
			max-height: 0;
			max-width: 0;
			overflow: hidden;
		}
		&-post {
			font-size: rem(12);
			line-height: 1;
			opacity: 0.65;
			max-height: 0;
			max-width: 0;
			overflow: hidden;
		}
		&-title {
			position: relative;
			line-height: 160%;
			font-weight: $fw-550;
			transition: $duration;
		}
		&-desc {
			font-size: rem(14);
			opacity: 0.8;
			max-height: 0;
			overflow: hidden;
		}
		&-divider {
			width: 100%;
			height: rem(2);
			background-color: $c-FFFFFF;
			opacity: 0.25;
			width: 0;
			transition: $duration;
		}
		&-values {
			display: flex;
			justify-content: space-between;
			gap: 2rem;
			transition: $duration;
			max-height: 0;
			overflow: hidden;
			&-item {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				&-indicator {
					font-weight: $fw-550;
				}
				&-desc {
					font-size: rem(14);
					opacity: 0.8;
				}
			}
		}
		&-button {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-size: rem(14);
			max-height: 0;
			overflow: hidden;
			@include icon-hover(horizontal);
		}
	}
}
.clients {
	padding: rem(96) 0;
	&__titlebox {
		@include content-width();
	}
	&__tag {
		@include block-tag();
	}
	&__body {
		margin-top: rem(24);
	}
	&__slide {
		max-width: rem(223);
		aspect-ratio: 1/1;
		background-color: $c-F3F2EE;
		@include flex-center();
		&-image-wrapper {
			height: rem(96);
		}
		&-image {
			height: 100%;
			object-fit: contain;
			filter: saturate(0%);
		}
	}
}
.career {
	padding: rem(64) 0;
	overflow-x: clip;
	&__container {
		display: grid;
		grid-template-columns: 50% auto;
		gap: 2rem;
		align-items: center;
		@include content-width();
	}
	&__titlebox {
	}
	&__tag {
		@include block-tag();
	}
	&__title {
		margin-top: rem(24);
		@include block-title();
	}
	&__text {
		margin-top: rem(24);
		font-size: rem(18);
	}
	&__button {
		padding: rem(12) rem(32);
		margin-top: rem(48);
		@include button-hover();
		@include icon-hover();
		&:hover {
			color: $c-FFFFFF;
		}
	}
	&__image-wrapper {
		height: rem(480);
		position: relative;
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			inset: 0;
			background: linear-gradient(to top, rgba($c-08483C, 0.6) 0%, rgba($c-08483C, 0) 100%);
			border-radius: 1rem;
		}
	}
	&__image {
		height: 100%;
		object-fit: cover;
		object-position: -50%;
		border-radius: 1rem;
	}
}
