<section class="clients">
	<div class="clients__container">
		<div class="clients__titlebox">
			<h2 class="clients__tag">Наши клиенты</h2>
		</div>
		<div class="clients__body">
			<div class="clients__slider swiper">
				<div class="clients__slider-wrapper swiper-wrapper">
					<div class="clients__slide swiper-slide">
						<picture class="clients__slide-image-wrapper">
							<img class="clients__slide-image" src="./assets/images/copmany-logos/clients/rostelekom.png" alt="#" />
						</picture>
						<ul class="clients__slide-name">
							<li class="clienst__slide-text">ПАО "Ростелеком"</li>
						</ul>
					</div>
					<div class="clients__slide swiper-slide">
						<picture class="clients__slide-image-wrapper">
							<img class="clients__slide-image" src="./assets/images/copmany-logos/clients/pyaterochka.png" alt="#" />
						</picture>
						<ul class="clients__slide-name">
							<li class="clienst__slide-text">ПАО "Ростелеком"</li>
						</ul>
					</div>
					<div class="clients__slide swiper-slide">
						<picture class="clients__slide-image-wrapper">
							<img class="clients__slide-image" src="./assets/images/copmany-logos/clients/lukoil.png" alt="#" />
						</picture>
						<ul class="clients__slide-name">
							<li class="clienst__slide-text">ПАО "Ростелеком"</li>
						</ul>
					</div>
					<div class="clients__slide swiper-slide">
						<picture class="clients__slide-image-wrapper">
							<img class="clients__slide-image" src="./assets/images/copmany-logos/clients/gazprom.png" alt="#" />
						</picture>
						<ul class="clients__slide-name">
							<li class="clienst__slide-text">ПАО "Ростелеком"</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
