<footer class="footer">
	<div class="footer__container">
		<a class="footer__imagebox" href="index.html">
			<picture class="footer__image-wrapper">
				<img class="footer__image" src="../assets/icons/logo-main.svg" alt="#Логотип" />
			</picture>
		</a>
		<div class="footer__body">
			<ul class="footer__list footer__list--nav" role="navigation">
				<li class="footer__list-item">Карта сайта</li>
				<li class="footer__list-item"><a href="about.html">О компании</a></li>
				<li class="footer__list-item"><a href="practices.html">Практики</a></li>
				<li class="footer__list-item"><a href="affairs.html">Дела</a></li>
				<li class="footer__list-item"><a href="advant.html">Достижения</a></li>
				<li class="footer__list-item"><a href="news.html">Новости</a></li>
				<li class="footer__list-item"><a href="career.html">Карьера</a></li>
				<li class="footer__list-item"><a href="contacts.html">Контакты</a></li>
			</ul>
			<ul class="footer__list">
				<li class="footer__list-item">Контакты</li>
				<li class="footer__list-item"><a href="tel:+78462739283">+7 (846) 273-92-83</a></li>
				<li class="footer__list-item"><a href="mailto:hello@volgalegal.ru">hello@volgalegal.ru</a></li>
			</ul>
			<ul class="footer__list">
				<li class="footer__list-item">Адрес офиса</li>
				<li class="footer__list-item footer__list-item--none-interactive">г. Самара, ул. Молодогвардейская 204,&nbsp;Офисный центр "БЭЛ-Плаза", 443001</li>
			</ul>
		</div>
		<a class="footer__button-top" href="#start" role="button"><i class="footer__button-top--icon icon-arrow-short"></i></a>
		<ul class="footer__info">
			<li class="footer__info-item footer__info-item--none-interactive">2025 &copy; Волга Лигал. Все права защищены</li>
			<li class="footer__info-item"><a href="">Гарантийное соглашение</a></li>
		</ul>
	</div>
	<div class="footer__label">
		<div class="footer__label-container">
			<ul class="footer__label-studio">
				<li class="footer__label-studio-item--text">Разработка и поддержка сайта:</li>
				<li class="footer__label-studio-item--image-wrapper">
					<a href="https://intheplace.ru" target="_blank">
						<picture class="footer__label-studio-item--image">
							<img src="../assets/icons/theplace.svg" alt="ThePlace" />
						</picture>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
