<header class="header">
	<div class="header__container">
		<a href="index.html">
			<picture class="header__logo-wrapper">
				<img class="header__logo" src="assets/icons/logo-contrast.svg" alt="#Логотип" />
			</picture>
		</a>
		<ul class="header__nav">
			<li class="header__nav-item"><a href="about.html">О компании</a></li>
			<li class="header__nav-item"><a href="advant.html">Достижения</a></li>
			<li class="header__nav-item"><a href="practices.html">Практики</a></li>
			<li class="header__nav-item"><a href="affairs.html">Дела</a></li>
			<li class="header__nav-item"><a href="news.html">Новости</a></li>
			<li class="header__nav-item"><a href="career.html">Карьера</a></li>
			<li class="header__nav-item"><a href="contacts.html">Контакты</a></li>
		</ul>
		<div class="header__lang">
			<div class="header__lang-current">
				<span class="header__lang-current--text"></span>
				<div class="header__lang-current--icon-wrapper">
					<i class="header__lang-current--icon icon-mark"></i>
				</div>
			</div>
			<ul class="header__lang-list">
				<li class="header__lang-list-item" data-lang="ru">RU</li>
				<li class="header__lang-list-item" data-lang="en">EN</li>
				<li class="header__lang-list-item" data-lang="fr">FR</li>
				<li class="header__lang-list-item" data-lang="jp">JP</li>
			</ul>
		</div>
	</div>
</header>
