<header class="header @@if (typeof type !== 'undefined' && type === 'fill') {fill} js-sticky">
	<div class="header__container">
		<a href="index.html">
			<picture class="header__logo-wrapper header__logo-wrapper--contrast">
				<img class="header__logo" src="./assets/icons/logo-contrast.svg" alt="#Логотип" />
			</picture>
			<picture class="header__logo-wrapper header__logo-wrapper--main">
				<img class="header__logo" src="./assets/icons/logo-main.svg" alt="#Логотип" />
			</picture>
		</a>
		<ul class="header__nav" role="navigation">
			<li class="header__nav-item @@if (typeof page !== 'undefined' && page === 'about') {current}"><a href="about.html">О&nbsp;компании</a></li>
			<li class="header__nav-item @@if (typeof page !== 'undefined' && page === 'advant') {current}"><a href="advant.html">Достижения</a></li>
			<li class="header__nav-item @@if (typeof page !== 'undefined' && page === 'practices') {current}"><a href="practices.html">Практики</a></li>
			<li class="header__nav-item @@if (typeof page !== 'undefined' && page === 'affairs') {current}"><a href="affairs.html">Дела</a></li>
			<li class="header__nav-item @@if (typeof page !== 'undefined' && page === 'news') {current}"><a href="news.html">Новости</a></li>
			<li class="header__nav-item @@if (typeof page !== 'undefined' && page === 'career') {current}"><a href="career.html">Карьера</a></li>
			<li class="header__nav-item @@if (typeof page !== 'undefined' && page === 'contacts') {current}"><a href="contacts.html">Контакты</a></li>
		</ul>
		<div class="header__touch-wrapper">
			<div class="header__lang">
				<div class="header__lang-current">
					<span class="header__lang-current--text"></span>
					<div class="header__lang-current--icon-wrapper">
						<i class="header__lang-current--icon icon-mark"></i>
					</div>
				</div>
				<ul class="header__lang-list">
					<li class="header__lang-list-item" data-lang="ru">RU</li>
					<li class="header__lang-list-item" data-lang="en">EN</li>
					<li class="header__lang-list-item" data-lang="fr">FR</li>
					<li class="header__lang-list-item" data-lang="jp">JP</li>
				</ul>
			</div>
			@@include('../components/burger.html', { "type": "@@type" })
		</div>
	</div>
</header>
<dialog id="menu" class="menu @@if (typeof type !== 'undefined' && type === 'fill') {fill}">
	<div class="menu__container">
		<div class="menu__button-close icon-cross" data-menu-close></div>
		<ul class="menu__nav" role="navigation">
			<li class="menu__nav-item"><a href="about.html">О&nbsp;компании</a><i class="menu__nav-item--icon icon-mark"></i></li>
			<li class="menu__nav-item"><a href="advant.html">Достижения</a><i class="menu__nav-item--icon icon-mark"></i></li>
			<li class="menu__nav-item"><a href="practices.html">Практики</a><i class="menu__nav-item--icon icon-mark"></i></li>
			<li class="menu__nav-item"><a href="affairs.html">Дела</a><i class="menu__nav-item--icon icon-mark"></i></li>
			<li class="menu__nav-item"><a href="news.html">Новости</a><i class="menu__nav-item--icon icon-mark"></i></li>
			<li class="menu__nav-item"><a href="career.html">Карьера</a><i class="menu__nav-item--icon icon-mark"></i></li>
			<li class="menu__nav-item"><a href="contacts.html">Контакты</a><i class="menu__nav-item--icon icon-mark"></i></li>
		</ul>
	</div>
</dialog>
